PORT=3000
DATABASE_URL="postgresql://pitang_user:pitang_password@127.0.0.1:5433/pitang_reimbursements?schema=public" //url que estou usando no projeto
JWT_SECRET= "Rode esse comando para gerar uma secretkey aleatória:"node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
